[2010-05-16 02:48] sebleier opened #1 "Project framing"
Hey Charlie, maybe this project should be framed more as the source code for djangosnippets.org rather than a reusable app.  Just my two cents :)
thanks for your work on this.

[2010-05-16 04:04] #1 closed, assigned to nobody

[2010-05-17 02:44] cornbread opened #2 "sort by latest please"
please allow to paginate through all snippets by latest.

[2010-05-17 02:53] #2 closed, assigned to nobody

[2010-12-11 15:05] timlinux opened #4 "Installation procedure issue"
I kept notes on where I had to do things not listed in your readme which I attach as a diff below.

I am still getting an unresolved error (see below) which I dont have a solution for yet and would appreciate any hints. Will write back if I figure it out myself.

Regards

Tim

========================= DIFF =========================

<pre>
diff --git a/README.rst b/README.rst
index 2f08222..769937

[2010-12-12 01:49] timlinux opened #5 "Undescribed snippet_text.txt"
In the install notes and in the git repo, I don't see any reference to snippet_text.txt or more precisely:

<pre>
templates/search/indexes/cab/snippet_text.txt
</pre>

which seems to be required for haystack. I went ahead and created that template so haystack indexing runs now, but I don't know what the contents of that file should be. Can you help?

Note that I created a fork of your repo so that

[2010-12-12 01:50] #4 closed, assigned to nobody

[2010-12-12 01:55] #5 closed, assigned to nobody

[2011-02-12 21:52] rjharris08 opened #6 "snippet_detail.html"
Django 1.2.4 found errors in snippet_detail.html.  Two occurences of _request.user_ in snippet_detail.html had to be replaced with _user_.

{% if object|is_bookmarked:_request.user_ %}

{% with object|rating_score:_request.user_ as rating_score %}

had to be changed to

{% if object|is_bookmarked:_user_ %}

{% with object|rating_score:_user_ as rating_score %}

[2011-02-20 21:10] rjharris08 opened #7 "feeds by tag"
Another feature not working in django 1.2.4:

tag feeds

I've investigated a little but it's not making much sense to me.

cab.feeds.SnippetsByTagFeed contains this method

[code]

Going up the chain I found that 1.2.4 defines

[code]

etc.

while an older version defines

[code]

etc.

Notice self._db = using is defined...I suspect this value is required for the objects.matches_tag to work, but t

[2011-02-21 05:21] #6 closed, assigned to nobody

[2011-02-21 06:30] #7 closed, assigned to nobody

[2011-03-06 17:28] rjharris08 opened #8 "More like this"
After looking at a couple of dozen snippets at djangosnippets.org, I noticed that nothing shows up under the More Like This heading directly below the snippet.  I would expect a list of snippets of some kind there.

[2011-03-07 03:09] #8 closed, assigned to nobody

[2011-03-08 06:43] rjharris08 opened #9 "More like this"
_More like this_ doesn't seem to be working on my cloned version of your site.  Your comment on my first _more like this_ post on this subject suggests that _more like this_ depends on solr.  http://charlesleifer.com/blog/search-on-djangosnippetsorg/ suggests the same.

Can _more like this_ be made to work without solr?  How?  (create a cachetable? add middleware clasess? something else?)

[2011-04-21 19:22] tamizhgeek opened #10 "Need to add provision to delete snippets by authors/admins"
I guess the current setup doesn't have any provision to delete snippets. We have to add one.

[2011-06-27 12:34] sysout opened #11 "How to install a complete version of http://djangosnippets.org/?"
Hi, I have a complete newbie question:
After following the installation instruction in the Readme file, the Django snippets is running on my laptop now. However, "Log in", "register", "about" "search" etc are not functional.
I added one line to the urls.py of my project:
"  (r'.*', include('cab.urls.snippets')), "

I cheched cab/urls/snippets.py and didn't find any pattern match "/accounts/login/"

[2011-06-27 14:17] #11 closed, assigned to nobody

[2011-07-01 15:13] #9 closed, assigned to nobody

[2011-10-27 07:34] abhiomkar opened #12 "what's in cab_language table?"
Hi,

can someone please share the table records of `cab_langauge`?

Thanks!

[2011-10-27 14:42] #12 closed, assigned to nobody

[2011-11-03 11:29] guettli opened #13 "Removing all tags does not work"
I tried to remove all tags from my deprecated middleware snippet:

http://djangosnippets.org/snippets/1459/

I get: "Please correct the errors below:" ... but I don't see any error message.
After adding a tag, it was possible to save the snippet.

BTW, is it possible to delete old snippets like this?

[2011-12-14 14:41] pydanny opened #14 "Spammers getting in"
See http://djangosnippets.org/snippets/1112/

If one gets in, a lot more will follow. django-registration makes it very easy for spammers to assault an app. I suggest you switch to something powered by OAUTH.

[2011-12-31 07:26] matteius opened #15 "View Snippets Error [snippet_detail.html]"
Hi, I have spent some time now configuring Django-cab to work with a new website I am developing.  So far I have gotten the site mostly functional, with auth logins, and I have used the admin to create a snippet.  However I have an issue with viewing the Hello World snippet.

TemplateSyntaxError at /snippets/1/
Caught UnboundLocalError while rendering: local variable 'searcher' referenced before a

[2012-01-12 11:10] twidi opened #16 "Add an api"
I'm working on the [Repos.io](http://repos.io) site, which allow users to search for and manage repositories, and i would add a backend for django-snippets, which is very usefull.

I could write it myself and add a pull-request but i currently have no time for it (lot of code to do for Repos.io), i just add it as a reminder or if someone has time :)

This api should handle registration (via oauth

[2012-04-14 01:37] earthspike opened #20 "Registration fails"
I registered (as 'earthspike') and immediately received the activation email. Clicking on the URL gave:
## Your account was not activated

There was an error creating this account. Perhaps your registration key expired, in which case please re-register.

<hr/>

I attempted to re-register as 'earthspike' only to be told that the username was now taken.  I then repeated the exercise with the usernam

[2012-04-15 11:46] #20 closed, assigned to nobody

[2012-09-06 23:04] g1smd opened #21 "No title, no looky."
Because 'mikko' has no titles on any of the snippets listed at

http://djangosnippets.org/users/mikko/

you cannot view any of his snippets.

Should the title be 'none', or should people be forced to enter a title before the form will submit?

[2012-10-03 18:06] #21 closed, assigned to nobody

[2013-02-19 20:22] robert-osborne opened #23 "Django 1.5 Support?"
I'm getting my site ready for Django 1.5 and djangosnippets is out of date.  Is anybody working on this?

[2013-03-19 20:50] #23 closed, assigned to nobody

[2013-10-21 14:32] jezdez opened #25 "Add support for social logins"
This would require porting the registration backend from django-registration to django-allauth, for example.

[2013-11-05 08:56] CrazySparrow opened #26 "About setup"
Can you Update some docs to describe the setup steps.Thanks a lot

[2013-11-23 13:35] #26 closed, assigned to nobody

[2013-11-23 14:04] #15 closed, assigned to nobody

[2013-12-01 07:00] zerok opened #27 "A user should be able to update his/her account data."
Right now there is no obvious way to change your password or other credentials like your email.

[2014-03-26 11:19] lyrixderaven opened #28 "Creating a snippet sometimes leads to a 'can't pickle function object' error"
Our local installation has shown some strange behaviour when creating a snippet for the HTML/template language. After filling in all the forms, the following stack trace occurs:

[code]

After some code-digging and debug-output parsing, it seems that it's trying to pickle the following schema:

[code]

... and fails at the 'author' field. Since fixing or doing more research would extend beyond the

[2014-07-11 04:54] blueyed opened #29 "Comment captchas are hard to read"
It took some attempts for me to recognize that there's a math question being asked, but even then it's quite hard to read the numbers.

[2014-09-10 07:01] arthurdejong opened #30 "Flag button doesn't work"
Yesterday, a lot of spam showed up in the RSS feed. After logging in I cannot flag it as spam (that is what I assume the triangle does, it could use a help text). The error that I get is:
  Invalid form submission
(the error message could use some CSS to make it clearer, I didn't see it at first)

Voting the snippet down results in a 500 error.

[2014-09-11 18:17] jgoldstick opened #31 "Did you know the site seems to have been hacked?"
my rss feed has been inundated with non django snippet stuff (looks like links to movies or something).

[2014-09-11 18:44] #31 closed, assigned to nobody

[2014-09-16 20:26] #30 closed, assigned to nobody

[2014-09-18 19:21] jezdez opened #32 "Flag Form should be accessible via GET"
Right now you can only flag a snippet from within the details page using a POST request. If the user requests the flag URL via GET a form should be rendered.

ported over from django-cab repo

[2014-09-21 17:27] #29 closed, assigned to nobody

[2014-09-21 17:28] #27 closed, assigned to nobody

[2014-09-21 17:28] #25 closed, assigned to nobody

[2014-09-21 17:28] #14 closed, assigned to nobody

[2014-09-21 19:24] #32 closed, assigned to nobody

[2014-12-09 11:02] depaolim opened #34 "duplicated snippets because of internal error"
I got this error
"There's been an internal error on the server; it probably wasn't anything you did, so don't worry too much about it. The site administrators have been emailed with the details, and they'll probably get it fixed real soon."

So I retried the operation

The result is I have multiple duplicated snippets
But I can't remove the duplicates

https://djangosnippets.org/users/depaolim/

P

[2014-12-10 11:07] Bartvds opened #35 "Search always empty"
The search field on the site always gives "No matching snippets found.".

Even if I search for generic terms like `class` or `enumeration` or something I copy from the snippets listed on the homepage.

[2015-01-12 13:16] yuvii opened #36 "old snippet of mine only accessible through direct link (and causes other weird issues)"
About a year ago, I uploaded a snippet to the site. I wanted to find it today to use for a project, but couldn't find it through the search. So I logged in (it required confirmation again - which was weird, but reasonable considering I haven't visited in a long while). I couldn't find it. I kept looking and nothing.

Luckily, I had saved the link somewhere, so I fished it out. Here it is:
https://

[2015-01-24 19:20] jezdez commented on #35
Fixed now.

[2015-01-24 19:20] #35 closed

[2015-01-24 19:21] jezdez commented on #36
The search was broken and triggered all those errors. Can you try again?

[2015-01-24 19:21] #36 closed

[2015-01-24 19:21] jezdez commented on #34
Yeah, the earch was broken but works now again. Sorry for the problems!

[2015-01-24 19:21] #34 closed

[2015-01-25 10:58] yuvii commented on #36
@jezdez
Seems to be fixed. Thank you! :smile:

[2015-06-15 06:08] jezdez opened #38 "Auto hide snippet when snippet flag with "spam" is created"
Right now we can mark a snippet as spam but it stays online. We should do it the other way around, when marking it as spam it should be automatically hidden and then re-enabled during review.

[2016-08-11 21:06] jribbens opened #41 "Add 1.10 to the snippet version choices"
The latest version you can indicate is 1.7.

[2016-08-11 21:08] jribbens opened #42 "Cannot upload new snippets"
You cannot upload new snippets - it just says "Please correct the errors below:" but then lists no errors below.

I haven't done anything fancy with my input that would be an obvious cause of failure. The only thing I can think of is that I have left the "Version" as "Not specified", because 1.9 isn't an available option, and I left "Tags" blank.

[2016-08-25 15:38] timgraham commented on #41
I added 1.8 and 1.9 in eb10ca329c359a8c25323d2b52b6bb4386c32870 but 1.10 requires a schema migration. I'd rather use Django migrations than south, so I'm working on upgrading Django so we can do that.

[2016-08-25 16:37] timgraham commented on #42
Tag is required but the error message didn't display. Fixed in 9d94bae73f4ac44cd90d9ac1fa5964e9f5fa23b2.

[2016-08-25 16:37] #42 closed

[2016-09-10 21:58] timgraham commented on #41
Fixed in 9dc2f2bed0e27d48d60089b0dda7fa0ca707a13a.

[2016-09-10 21:58] #41 closed

[2016-09-10 22:00] timgraham commented on #28
I think it's more likely we'll eliminate the whoosh backend since we're moving toward using the same dependencies in dev and prod.

[2016-09-10 22:00] #28 closed

[2016-09-14 07:27] m-aciek opened #51 "Comments – bad sanitization"
djangosnippets puts `<p>` tags as a text, even though comment doesn't contain them. And doesn't preserve line breaks, all content is put in one line:
![zrzut ekranu z 2016-09-14 o 09 22 41](https://cloud.githubusercontent.com/assets/9288014/18503348/d326f754-7a5c-11e6-999f-d1ba4646f092.png)

[2016-10-27 10:46] raghuraju opened #52 "AttributeError at /"
Commit ID: b3b07f31130877c488126dca4c62495d15c3ef4f

Djangosnippets is giving Attribute error when trying over access at port 8000 even after following all the instructions in the Readme.

Full trace is listed here

[code]

[2017-01-26 07:37] cenago commented on #52
was this fixed? I am facing the same issue..

[2017-03-04 22:17] LmeetR commented on #52
my solution:
use the python3 instead of python2.7. then it will work.

[2017-03-07 00:37] timgraham commented on #52
Correct, Python 2 isn't supported.

[2017-03-07 00:37] #52 closed

[2017-03-29 01:12] #51 closed

[2018-06-11 14:03] michaelmior opened #63 "reCAPTCHA v1 is shut down"
See https://developers.google.com/recaptcha/docs/faq

[2018-10-20 08:16] abulka commented on #63
Is this why I cannot post a comment to a snippet?  The captcha field just screams red saying the field is required but there is nothing I can see that I can type in.

[2018-10-20 11:12] michaelmior commented on #63
Yup, that would be why!

[2018-10-26 08:47] cansarigol opened #65 "Update URLconfs to use django.urls.path()"
if you want, I can change  "from django.conf.urls import url" for "from django.urls import path" and the other things.

[2018-11-14 13:19] brylie opened #66 "Django 2.x not included in CAB_VERSIONS setting"
When adding a snippet, Django 2.x is not listed. We need to add Django 2.x versions to the `CAB_VERSIONS` setting.

[2018-11-15 00:01] timgraham commented on #65
That would be welcome.

[2018-11-15 15:00] #66 closed

[2018-11-21 05:34] #65 closed

[2019-01-30 00:36] timgraham commented on #63
Updated to django-recapatch 2.0.2 in a0e056afe35ce589f68b1bd892e5a9d0ef5f2870 and confirmed that comments work.

[2019-01-30 00:36] #63 closed

[2019-11-13 08:19] jezdez opened #74 "Increase in spam in the past few weeks"
It seems as if there is a lot of new spam coming in from people using Twitter (IIUC) to sign up for djangosnippets. I would suggest to increase the bar for submission by

1) adding recaptcha
2) allowing signup only for users with verified email addresses
  - either via `SOCIALACCOUNT_EMAIL_VERIFICATION` (which would require a separate email verification upon signup via twitter and github)
 - and d

[2019-11-13 09:13] carltongibson commented on #74
Hey @jezdez. I'll take a look. Thanks for the report!

[2019-11-13 10:18] jezdez commented on #74
Much appreciated!

[2019-11-13 11:10] bartTC commented on #74
I'd also consider dropping Twitter for registration and only allow Github and Bitbucket.

I think our audience that does have Twitter, but does not have Github goes towards zero.

[2019-11-13 12:23] jezdez commented on #74
Yeah, agreed.

[2019-11-13 15:56] carltongibson commented on #74
Hi @jezdez.

* Can you give me staff status on the site? (I'm `carltongibson`.) I'd like to see the account statuses...
* It looks like verification is already required. (Going though the steps, with GitHub, I'm sent the email, and need to click it etc.) — I'll double check this.
* Legitimate folks may already be signed up with Twitter, so I can't just disable it I think? (A glance at the admin wo

[2019-11-13 18:07] jezdez commented on #74
@carltongibson Done.

[2019-11-13 18:13] carltongibson commented on #74
Ta. Just a thought... should I delete the spam posts whilst I'm in there? (I know that's a loosing battle but...)

[2019-11-13 18:37] jezdez commented on #74
When you mark them from the website as spam (https://dsc.cloud/a46d84/6iAe6iikIpEqkNDcTPNA) you can then go into the "snippet flags" section and select the "remove snippet and ban user" admin action.

[2019-11-13 18:49] carltongibson commented on #74
Super. Thanks. I'll do a bit of that as I go. 🙂

[2019-11-15 15:56] carltongibson commented on #74
OK, follow-up here with interim conclusions.

* Emails are already being validated. I'm not sure disabling Twitter would solve it... But...
* We could implement a rate-limit, between sign-up and first post, and between posts. (I think that would be quite effective, at least the between-posts one — I need to check the gap for the first-post thought...)
* I see #38: auto-hide on flag. Yes, super.
*

[2020-03-05 19:46] chriswedgwood opened #93 "Would you like help?"
Hi  I just listened to the Django Chat podcast and would like to get involved in some kore open source work.
I would be happy to give this project some time. Is there anything that you would like done or a new piece of functionality added?

[2020-03-11 18:05] carltongibson commented on #93
Hi @chriswedgwood. Yes. Super. Welcome. 🙂

If you look at the PRs, there’s various dependcy updates. Most of those are no problem but, for example, can we update to the latest Django? That needs a manual verification. And so on.

Then beyond maintenance tasks, can we give the app an update? There’s no reason why it couldn’t continue to be a good resource going forward, but it does need some love.

[2020-03-11 20:55] chriswedgwood commented on #93
Hi @carltongibson thanks for getting back to me. Yes I would be very happy to take it on and can give it some time. I've forked and will familiarise myself with the project along with manually testing the upgrade path to Django 3.0.4. In terms of the upgrade process is the correct way to create pull requests for each latest patch release -> deploy -> repeat?

[2020-03-12 07:10] carltongibson commented on #93
@chriswedgwood Super. Thanks. I think for updates (the dependabot PRs) a manual verification: "Yes, I tested this and it works" would be enough for now. (It's that someone took the time to check... 🙂)

Comment on individual issues if you have questions.
Open an issue to discuss when you're at the stage of "Hey, this would be an improvement".

Welcome aboard! ⛵️

(I'm going to close this as resolve

[2020-03-12 07:10] #93 closed

[2020-03-21 18:13] chriswedgwood commented on #74
Im happy to pick up this work, should I start with #38 ?

[2020-03-21 19:32] carltongibson commented on #74
Hi @chriswedgwood. Yes. That would be super. Thanks!

[2020-03-22 03:51] santos22 commented on #74
Hi @carltongibson 👋

Just learned about https://djangosnippets.org/ and was hoping I could start contributing right away.

For the following interim conclusion:
**An admin action to mark as spam from the Snippet list-view would be great. It's easy to see it's spam, but you have to find the snippet on the main site to flag it.**

Is this something you had in mind?
<img width="1552" alt="Screen Shot

[2020-03-22 08:38] chriswedgwood commented on #74
Hi @santos22

Great timing I was just about to start working on this feature and thankfully hadn't started.

I think that is exactly what we are looking for!

Once a snippet is flagged it should only be visible to staff and not to normal users?

[2020-03-22 12:11] chriswedgwood commented on #74
I'll start  working on adding recaptha. May as well give it a go

[2020-03-25 15:22] carltongibson commented on #74
Hi @santos22. Rather [an Admin Action](https://docs.djangoproject.com/en/3.0/ref/contrib/admin/actions/). From the admin list view, it's easy to see spam, so it would be good to mark them from there. I hope that makes sense.

[2020-03-26 03:28] santos22 commented on #74
Makes sense to me -c urrently working on that item 👍

Thanks for clearing that up!

[2020-05-06 08:22] chriswedgwood opened #115 "Use Postgres search instead of elastic search"
Carlton Gibson

[2020-05-24 12:05] dimkoug opened #118 "Edit comment"
How to edit  a comment i posted ?

[2020-05-25 19:33] chriswedgwood commented on #118
Hi Dimitris

If you click on the snippet there should be a grey pencil to edit. If it is not there you may need to login first?
<img width="409" alt="Screenshot 2020-05-25 at 20 30 33" src="https://user-images.githubusercontent.com/1273523/82839305-d60b4f00-9ec6-11ea-8713-28aa5cf13891.png">

[2020-05-26 17:04] dimkoug commented on #118
when i log in  , is there a filter to find my comments ?

[2020-05-28 09:24] carltongibson commented on #118
I don't **think** that's possible. Would you fancy adding as a feature?

[2020-05-28 10:58] chriswedgwood commented on #118
Sorry @dimkoug  I misread your initial post , you were talking about comments not snippets :). This is not possible right now and we would welcome this feature 👍

[2020-06-17 18:43] mjhea0 opened #133 "site is down"
The site has been down since June 12th.

https://twitter.com/testdrivenio/status/1271417801480327169

<img width="1424" alt="Application_Error" src="https://user-images.githubusercontent.com/2018167/84936874-8a505d80-b0a0-11ea-914e-75fd1917192f.png">

[2020-06-17 19:02] carltongibson commented on #133
@mjhea0 Thanks for the report. Will have a look tomorrow.

[2020-06-17 21:32] MarkusH commented on #133
Should be fixed by #141. I'm currently waiting for Travic CI to report back the test status.

The error on Heroku is this:
[code]

[2020-06-18 06:55] carltongibson commented on #133
OK, we're back up. Thanks all.

Not at all sure why we're using gevent but... 🤔

[2020-06-18 08:34] chriswedgwood commented on #133
Apologies if this was one of my merges @carltongibson @MarkusH @mjhea0
I tested it with the following docker and it all seemed to work. Im not so familiar with heroku or gevent but what was the version conflict with? Or what is the root issue here?  :
The docker environment I used to test has greenlet 0.4.15 and is working.
[code]

Things I'm thinking to resolve in future:

1) Check website after

[2020-06-18 08:36] MarkusH commented on #133
I _think_ it was caused by the update to gevent in #132 but didn't fully investigate. I only noticed, that there was a new greenlet version available and figured I'll bump that to fix it :man_shrugging: :smile:

[2020-06-19 10:07] #133 closed

[2020-06-19 10:09] chriswedgwood commented on #118
@dimkoug If you are not actively working on this I think I will start working on this feature

[2020-06-19 12:55] dimkoug commented on #118
@chriswedgwood  i am not working on this feature.

[2020-06-19 12:55] #118 closed

[2020-07-09 18:34] chriswedgwood opened #150 "master branch currently broken"
Currently the master branch is failing with isort issues as the version was not being pinned
#148 will fix this :)

[2020-07-09 18:39] carltongibson commented on #150
isort just released v5 which has breaking changes , not just in the commands but in the behaviour I think.

I’m sure this is progress in the end, but it seems unstable at the moment. (5 point releases in a number of days and issues still open.)

At the moment, I’m pinning channels to <5, to give it time to settle before updating.

Worth thinking about whether combining with black is a good idea he

[2020-07-09 20:48] chriswedgwood commented on #150
Okay cool I’ll raise a pr to pin isort<5

Thanks

On Thu, 9 Jul 2020 at 19:39, Carlton Gibson <notifications@github.com>
wrote:

[2020-07-10 07:52] #150 closed

[2020-07-22 21:35] chriswedgwood opened #152 "Master brach now failing [ AttributeError: 'ParsedRequirement' object has no attribute 'req']"
The master build is now failing on travis during requirements installation but has not changed for some time
and it was green before.

Collecting python-akismet==0.4.1
  Downloading python-akismet-0.4.1.tar.gz (9.8 kB)
    ERROR: Command errored out with exit status 1:
     command: /home/travis/virtualenv/python3.7.1/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-ins

[2020-07-23 06:52] chriswedgwood commented on #152
This is resolved with python-akismet bump

[2020-07-23 06:52] #152 closed

[2020-07-23 07:13] carltongibson commented on #152
Ah, super. Well done @chriswedgwood! 🥇

[2020-08-03 19:36] chriswedgwood opened #162 "No fixtures available for snippets when onboarded"
As a developer when I get onboarded I would like to have a fixture that sets up 20+ meaningful sample snippets
with varied languages and versions that gives me a sense of how the site operates and I don't have to manually create any.

[2020-08-14 15:37] #74 closed

[2020-08-19 12:14] carltongibson commented on #115
Hi @chriswedgwood — so #161 is in.

* [Seems to work](https://djangosnippets.org/searchfulltext/?q=contrib.auth) 😀
* [Looks similar to the old one](https://djangosnippets.org/search/?q=contrib.auth)

Test successful?

Do you think we're in a position migrate and drip ES?

Good stuff!

[2020-08-19 13:04] chriswedgwood commented on #115
Hi @carltongibson  yes I think we are good to go. If we have any issues we can just fix forward without ES.
I will submit a PR for this 👍

[2020-09-11 04:43] ML-Chen opened #170 ""Internal error" when I try to create account"
I want to leave a comment on a Django Snippet on djangosnippets.org, which requires logging in. I don't currently have an account, but as I don't see a button for creating an account, I tried the log in buttons. Here's what happened with the various log in methods:

- BitBucket: "Social Network Login Failure. An error occurred while attempting to login via your social network account."
- GitHub: "

[2020-09-11 04:59] chriswedgwood commented on #170
Thank you for your email Michael I will look into this and get back to you

Kind regards
Chris

On Fri, 11 Sep 2020 at 05:43, Michael Chen <notifications@github.com> wrote:

[2020-09-11 05:17] chriswedgwood commented on #170
I have re-created the issue attempting to create a new account and I also get _"Error
There's been an internal error on the server; it probably wasn't anything you did, so don't worry too much about it. The site administrators have been emailed with the details, and they'll probably get it fixed real soon."_.

There is nothing showing up in  sentry so I will need to look a little longer to find th

[2020-09-13 09:11] chriswedgwood opened #171 "Sentry is not picking up issues with allauth"
I have been trying to look into #170 which suggests that there is an issue with allauth but no issues are popping up in sentry for it.

[2020-09-13 09:29] carltongibson commented on #171
Hmmm. _Are we actually logging errors?_ is my immediate thought. 🤔

[2020-09-13 10:07] chriswedgwood commented on #171
I’ll review and get and get back to you 👍
On Sun, 13 Sep 2020 at 10:29, Carlton Gibson <notifications@github.com>
wrote:

[2020-09-23 06:34] chriswedgwood commented on #171
@carltongibson  I haven't forgotten about this. I've been dealing with a severe technical issue at work but will look at this when things have settled. I did have a quick look and it looks like the sentry configuration may be a bit dated.

[2020-09-23 06:35] chriswedgwood commented on #170
@ML-Chen  I haven't forgotten about this. I've been dealing with a severe technical issue at work but will look at this when things have settled. I did have a quick look and it looks like the sentry configuration may be a bit dated.

[2020-09-23 07:11] carltongibson commented on #171
Hey @chriswedgwood — No problem!

I've not forgotten about #164 either. 😀

[2020-09-23 15:56] ML-Chen commented on #170
Don't worry, take your time

[2020-09-28 10:40] #171 closed

[2020-09-28 21:09] chriswedgwood commented on #170
So I have tried twitter and github and It is working for me.
Bitbucket is definitely broken and it looks like it may be issues with the way in which the app has been setup. Will need to dig deeper on this one.
I cant seem to re-create the internal server error.
@ML-Chen can you retry with twitter and/or github?
We have sorted out our sentry configuration so we will be able to capture the error and

[2020-09-28 23:58] ML-Chen commented on #170
Awesome, I was able to create an account with GitHub.

[2020-09-29 10:28] chriswedgwood commented on #170
Thats great news 2/3 is not bad! I'll leave this open till we sort out bitbucket issues

[2020-10-04 09:51] #115 closed

[2020-10-04 09:51] #162 closed

[2020-10-28 08:14] chriswedgwood commented on #38
I can confirm that the snippet still is shown even if it is marked as spam so I will fix this.

[2020-10-28 08:28] chriswedgwood commented on #16
Is this something we want to do? Would not take that much effort and be good to showcase DRF?

[2020-10-28 08:30] chriswedgwood commented on #10
Closing we can delete snippets

[2020-10-28 08:30] #10 closed

[2020-10-28 08:35] carltongibson commented on #16
HI @chriswedgwood. Yes... it's something to consider. My hope is that the app is a kind of reference: _Look, here's an actual site you can browse and copy from…_ — so a small **simple** API — perhaps just read-only, at least at first pass, would be a nice addition.

[2021-01-02 21:28] guettli opened #206 "Rest User"
Hi,

could you please reset my user account `guettli`

I created a snippet several years ago: https://djangosnippets.org/snippets/646/

I would like to update the text to:

-------

You can use the [pytest-django setting](https://pytest-django.readthedocs.io/en/latest/configuring_django.html#pytest-ini-settings) FAIL_INVALID_TEMPLATE_VARS

The invaild vars get checked if pytest executes the code.

[2021-01-03 09:58] chriswedgwood commented on #206
Hi Thomas

Thanks for getting in touch. Can I change your email address to guettliml@thomas-guettler.de?

[2021-01-17 17:45] #206 closed

[2021-01-24 18:32] #16 closed

[2021-01-24 18:50] himanshu007-creator opened #208 "NAVBAR and Background"
HI
I have some suggestions regarding navbar and background.
1) Currently, the navbar is quite small, It should be changed.It should be made a bit more long (height++). We can use icons to make it look good. It should  have a color code that depicts message visually
    - RED COLOR NAVBAR means you are currently not logged in
    - GREEN COLOR NAVBAR means you are logged in
    - USERNAME logo can

[2021-01-24 19:37] chriswedgwood commented on #208
Hi Himanshu

Yes agreed it is looking like it is need of a styling refresh. You are absolutely allowed to work on this :)

Let me know if you need any help

[2021-01-25 01:57] himanshu007-creator commented on #208
Thank you sir, I will surely let you know.

[2021-01-28 12:40] yujiwen opened #209 "っっr"

[2021-01-28 14:15] #209 closed

[2021-01-30 16:15] chriswedgwood opened #210 "Django Snippets Roadmap - all thoughts welcome"
I would like to canvas opinion for those interested in the the djangosnippets.org project as to how you envision the future of this project. What are its aims and ideals? Could the Django software foundation give me some direction here?

The things I'm thinking/questions off the top of my head:

We should aim to always be on the latest Django Version

Could DjangoSnippets be used as a stepping sto

[2021-01-30 16:39] carltongibson commented on #210
Hey @chriswedgwood -- thanks for this! It's something I've been thinking about for a while.

More or less, I'd like us to have django snippets as a nice example of a smallish Django app. It would be nice then if folks also could use it for snippets 😀

So...

- I'd keep it about the scope it is.
- I'd ask contributions to keep it up to date.
- I'd like to use it as a source for examples when writin

[2021-02-01 13:54] rajpratyush commented on #210
Hi
@carltongibson and @chriswedgwood I would like to contribute to this if it is open

[2021-02-01 21:37] smithdc1 commented on #210
Just to add to the sharing / embedding point above.

There's a fair amount of Django snippets which get shared on Twitter, is there anything we could do here? See an example from @adamchainz

https://twitter.com/AdamChainz/status/1352196191665197056?s=19

[2021-02-01 22:44] adamchainz commented on #210
When I post a snippet on twitter it's an image, but copied out of the relevant blog post. Indexing code from blog posts on django snippets could be a neat idea.

[2021-02-02 04:11] rajpratyush commented on #210
actually I was not able to understand fully on this. do you mean that to create django code snippets from blog posts or a list of blagposts where django code snippets are there so that people can  visit those pages and try to understand it?

[2021-02-02 09:58] adamchainz commented on #210
I meant that snippets from blog posts could be copied into django snippets with a link back to the source post which should fully explain the code.

[2021-02-02 10:21] rajpratyush commented on #210
sure. @adamchainz I got it now If this issue is pen for  work I would like to work on it

[2021-02-02 11:00] chriswedgwood commented on #210
Good stuff here. Thanks all. I do like the idea of incentivising bloggers to add a snippet and we will promote their blog.
@carltongibson do you know who owns the djangosnippets account on twitter?It's been quiet since 2014. I would like to start using it and try drive some traffic to the site.

[2021-02-02 11:02] rajpratyush commented on #210
@adamchainz Do guide me on how to proceed on this issue

[2021-02-23 22:23] OmenApps commented on #170
I tried creating an account both via Twitter and via GitHub, and got server errors in both cases. It does seem to associate my email with an account, though. If I try to use the password reset form, I also get a server error.

[2021-02-23 23:10] chriswedgwood commented on #170
Thanks Omen I’ll have a look 👍
On Tue, 23 Feb 2021 at 22:23, Omen Apps <notifications@github.com> wrote:

[2021-02-24 09:24] chriswedgwood commented on #170
@OmenApps Ive re-created the issue on the live site and will need to figure out what has changed as we haven't deployed for a while.
Will  let you know when its fixed 👍

[2021-02-24 23:39] chriswedgwood commented on #170
![image](https://user-images.githubusercontent.com/1273523/109080949-56cad600-76f9-11eb-9d05-bfe7ce52ed27.png)

The issue seems to lie with sendgrid. I'm going to wait till these issues are resolved before doing further investigations

[2021-02-25 08:22] chriswedgwood commented on #170
![image](https://user-images.githubusercontent.com/1273523/109124116-789c7b00-7742-11eb-944a-aa80b13a9004.png)

The error is coming out of Python smtp lib when trying to send an email. Going to try recreate this locally with python3.7

[2021-02-25 12:56] chriswedgwood commented on #170
@OmenApps  This has been resolved. Please try log in and see if you can get in. You twitter and github accounts were successfully created.

Im not sure if Sendgrid has changed but we were not following this documentation:
https://sendgrid.com/docs/for-developers/sending-email/django/

[2021-02-25 16:55] #170 closed

[2021-03-03 22:29] chriswedgwood opened #224 "Redis Error - max number of clients reached"
This error is popping up in sentry.

I'm not that familiar with redis, will do some research and  investigate :)

[2021-03-04 09:00] carltongibson commented on #224
Hey @chriswedgwood — that's a good one. Can you link the issue here in Sentry? (Let me know if not, and I'll poke around in the Sentry UI to see if we can get that going.)

[2021-03-04 09:16] chriswedgwood commented on #224
Here you go...

https://sentry.io/share/issue/07d9acfe9e0e4cc7bf71051b88d2c894/

[2021-03-04 11:46] chriswedgwood commented on #224
@carltongibson  Looking in the redis config:
![image](https://user-images.githubusercontent.com/1273523/109959002-c97e1780-7cde-11eb-9ea3-8dcbe97d8ce4.png)

We have max connections of 50. Our plan doesn't enable us to see connection history graphs so hard to know whats happening. The only thing I can think to do is restart redis. I can query redis sporadically and see if connections are kept over

[2021-03-04 13:02] carltongibson commented on #224
Route 1. 😄 👍

I can't see why a little app like this need 50 connections. So this might be worth a play. (Just casually)

[2021-03-04 14:06] chriswedgwood commented on #224
Restarted redis. CLIENT LIST is currently showing 5 connections
Closing issue.

[2021-03-04 14:06] #224 closed

[2021-03-04 14:43] carltongibson commented on #224
Thanks @chriswedgwood — it may be there's some slow connection leak somewhere... but... 😀

[2021-03-04 15:03] chriswedgwood commented on #224
I'll keep an eye out for it 👍

On Thu, 4 Mar 2021 at 14:44, Carlton Gibson <notifications@github.com>
wrote:

[2021-03-18 11:06] chriswedgwood opened #227 "Moving master to main"
To keep consistent with other DRF projects

[2021-03-18 11:11] carltongibson commented on #227
Super , yes, thank you!

[2021-03-18 12:52] 4kashyadav opened #228 "Add "dark mode" button in the website"
Django website is simple and good. But what about the health of developers?
As of now, there is no provision for dark theme. Having a dark theme will improve user experience. I would like to work on this issue.

[2021-03-21 09:54] chriswedgwood opened #234 "UnserializableContentError"
https://sentry.io/share/issue/3cab1c94001543ff9123600ef67b4b29/

UnserializableContentError /feeds/tag/{slug}/
Unhandled
error
Control characters are not supported in XML 1.0

[2021-03-21 09:56] chriswedgwood opened #235 "AttributeError /snippets/{snippet_id}/"
https://sentry.io/share/issue/a65f60ea47424d03b6c7be844865ac05/

AttributeError /snippets/{snippet_id}/
Unhandled error
'NoneType' object has no attribute 'end'

[2021-03-21 09:59] chriswedgwood commented on #228
Sounds great @4kashyadav !

How would you implement this functionality?

[2021-03-21 19:35] chriswedgwood commented on #235
Resolved by #220

[2021-03-21 19:35] #235 closed

[2021-03-24 12:30] chriswedgwood opened #236 "SIte is not mobile friendly"
Looking at the site on my phone is not a great experience.

I'm going to review the css setup and look to modernise it.
I have yet to use https://tailwindcss.com/ and alpine.js so I was thinking this could be a good place to use them.

I want to get the benefits of a frontend framework but keep the maintenance costs low. These seem like a good fit for djangosnippets.

[2021-03-24 13:09] carltongibson commented on #236
Hey @chriswedgwood — Yeah, modernising the site would be a good change. I'm very happy with the Tailwind/Alpine combo too.

One thing that's been handy is using is [Extracting Components](https://tailwindcss.com/docs/extracting-components) for forms, so we can just `form.as_p()` (or whatever) and it gets styled properly.

* Best TW practice is to customise the theme, but that's a little more in-de

[2021-03-24 13:35] carltongibson commented on #210
Just cutting back to this, lots of people use carbon to post images of source code https://carbon.now.sh — **but** that doesn't give a copy-able source code — it's literally an image. A link back to a real snippet would make those images more useful. (So, something there...)

[2021-03-24 13:49] jefftriplett commented on #210
@carltongibson jinx

@chriswedgwood Thank you for maintaining Django Snippets and keeping the lights on.

I primarily use carbon.now.sh and gists because it makes snippets pretty and visible for Twitter and Slack. Gists because people are on GitHub.

If there was support for one or both of those, that might be nice. Especially better social media support (like carbon.now.sh does or maybe there is

[2021-03-24 14:17] carltongibson commented on #210
@jefftriplett:

I was just thinking about this. Looking [at the Twitter docs for "Cards"](https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started#display) **I think** we'd need to _Post to Twitter_ function to upload the generated image, since it says the Card display is only triggered when you expand the tweet. (We already have twitter log-in so...)

(Possibly a se

[2021-03-24 14:23] jefftriplett commented on #210
@carltongibson I haven't had enough coffee, but I don't think you need the post to Twitter, but it *could* work that way.

Specifically, I'm proposing we had Open Graph / Twitter Card meta data from: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary-card-with-large-image

[code]

But yes, this would require adding image support *<or>* it might be possible to pass th

[2021-03-24 14:47] carltongibson commented on #210
@jefftriplett — You could well be right — I was **hoping** that was the solution (but there was some comment in the docs I linked that made me doubt) — Anyhow... one approach or other should work right? — and that would be cool!

[2021-03-24 23:16] chriswedgwood commented on #210
@carltongibson  @jefftriplett  I have questions 🤔
I'm trying to get my head around the story that would support gists, twitter summary cards and carbon.now.sh.

1. User logs in(twitter/github) should we keep bitbucket?
2. Add Snippet
3. On save  we create a  carbon.now.sh image which we store.
4. DetailView of snippet will be carbon.now.sh but user can click "copy to clipboard/view raw" to get cod

[2021-03-25 06:02] chriswedgwood commented on #210
Or is it

Our form takes the gist js embed as input?

[2021-03-25 07:32] carltongibson commented on #210
@chriswedgwood — we should probably have a new ticket — derailing the Roadmap discussion — but 😀 — Ideally...

* I'd share the django snippets (detail view) URL on twitter.
* I could type my tweet.
* If would display a nice render of the code.
* But the key is that the link goes back to DS, where I can interact and copy the code.

For the image bit:

* Not sure best way to generate it. Carbon is j

[2021-03-25 07:52] chriswedgwood opened #237 "Twitter should render image of snippet when snippet url shared"
@chriswedgwood — we should probably have a new ticket — derailing the Roadmap discussion — but 😀 — Ideally...

* I'd share the django snippets (detail view) URL on twitter.
* I could type my tweet.
* If would display a nice render of the code.
* But the key is that the link goes back to DS, where I can interact and copy the code.

For the image bit:

* Not sure best way to generate it. Carbon is j

[2021-03-25 08:52] chriswedgwood commented on #237
@carltongibson  I'll play around with whats possible as well and come up with some options.

[2021-03-25 08:56] carltongibson commented on #237
Super — thanks @chriswedgwood!

Just thinking out-loud, a one-theme option where we generate the image ourselves might be nice (part of DS is to be an example of how it's done.) Happy to input — comment here with whatever findings you make and we can discuss. 😀

[2021-03-25 09:00] chriswedgwood commented on #237
Yes we can configure a carbon theme for DS

[2021-03-25 09:13] carltongibson commented on #237
Pygment's [`ImageFormatter`](https://pygments.org/docs/formatters/#ImageFormatter) already does the hard bit.

[2021-03-25 12:14] jefftriplett commented on #237
Carbon’s API story wasn't as good as I had remembered, so Pygments is the better way to go. Plus, having a Django Snippets theme is better anyways IMO.

https://github.com/carbon-app/carbon/issues/210

[2021-03-25 15:19] MarkusH opened #238 "Twitter access"
Hi @chriswedgwood,

Can you reply with your Twitter handle please, just so I can verify earlier communication.

Thanks.

[2021-03-25 15:48] chriswedgwood commented on #238
https://twitter.com/ChrisWedgwood

[2021-03-25 16:10] #238 closed

[2021-03-31 16:23] felixxm commented on #227
@chriswedgwood Sorry, I missed this issue and already renamed `master` to `main`.

[2021-03-31 16:23] #227 closed

[2021-04-08 07:42] chriswedgwood opened #240 "User.MultipleObjectsReturned: get() returned more than one User -- it returned 2!"
https://sentry.io/share/issue/5453bab130884dd0a3eb0a96d4bc9046/

[2021-06-04 11:41] chriswedgwood opened #261 "Cant set up discussions"
Ahead of the sprint tomorrow I would like to set up disussions in github as per

https://docs.github.com/en/discussions/quickstart

@carltongibson  @MarkusH  can you set it up?  👍

[2021-06-04 11:54] MarkusH commented on #261
Looking into it

[2021-06-04 11:55] MarkusH commented on #261
Should be there, @chriswedgwood

[2021-06-04 11:55] #261 closed

[2021-06-05 08:32] danigayosog opened #263 "Configuration error starting up docker development environment"
After clone the repository and execute the commands about docker-compose mentioned in the documentation, an error is raised:
[code]

This seems to happen because of the configuration in docker-compose.yml is pointing to `djangosnippets.settings.production`. To launch in development this should be `djangosnippets.settings.development`.

It would be a good idea to make an environment file (.env) to

[2021-06-05 08:41] sijanonly commented on #263
@danigayosog
I usually put the following settings in the environment file.

[code]

I also there are project specific env variables for `elasticsearch` and `redis` as well.

[2021-06-05 09:08] sijanonly commented on #38
I am working on it.

[2021-06-05 09:25] datencoach opened #267 "Development setup instructions for windows users missing"
I think it would be a good idea to include setup instructions for windows users into the development setup.

PostgreSQL setup on Windows is not self-explaining and does not work very well in my opinion. I think using WSL2 to create a linux subsystem and handle PostgreSQL there ist the best option.

Using Sqlite is not possible due to an error "no such function: to_tsvector" due to
OperationalError

[2021-06-05 09:48] #263 closed

[2021-06-05 10:35] danigayosog opened #270 "Start to using sass and get rid of bower and compass"
From https://github.com/django/djangosnippets.org/discussions/265#discussioncomment-828741

[2021-06-05 10:36] danigayosog commented on #270
I'm working on this

[2021-06-05 11:36] #234 closed

[2021-06-05 11:36] chriswedgwood commented on #234
Not enough info stale

[2021-06-05 11:37] #240 closed

[2021-06-05 11:37] chriswedgwood commented on #240
stale

[2021-06-05 11:37] #208 closed

[2021-06-05 14:42] danigayosog commented on #270
This get more complicated because we need to think about the architecture of fronted dependencies. To see how that goes go to https://github.com/django/djangosnippets.org/discussions/265#discussioncomment-828741

[2021-06-05 14:42] #270 closed

[2021-06-05 15:27] #13 closed

[2021-06-05 16:03] sijanonly opened #277 "Code formatting with Black"
We can adopt some standards to format the current code as followed by Django community.

[2021-06-05 16:08] sijanonly commented on #277
I am working on it.

[2021-06-17 18:25] chriswedgwood opened #284 "Travis-Ci.org is no longer need to move to .com or github actions"
![image](https://user-images.githubusercontent.com/1273523/122452832-9451b880-cfa1-11eb-8a9c-698793683367.png)

I will need one of the ops team to set up travis-ci.com for us I think.

The other option is to move to github actions?

Im Happy with either

[2021-06-18 07:02] carltongibson commented on #284
Hey @chriswedgwood. I think GHA is the way forward.

Adding Travis to the Django Org is a bit broad brush given that it's a dying service.

[2021-06-18 08:40] #284 closed

[2021-07-26 08:26] chriswedgwood opened #293 "ALLOWED HOSTS in wrong location"
ALLOWED_HOSTS = os.environ.get('ALLOWED_HOSTS', 'djangosnippets.org,www.djangosnippets.org').split(',') is currently only in production.py

We need to move this to base.py so it works during local development

[2021-07-26 09:24] #293 closed

[2021-09-10 16:08] LucasSD commented on #267
I've recently set up the development environment in Windows using PostgreSQL, but without using WSL2. I'm happy to improve the setup instructions for Windows users if @chriswedgwood wants to assign this issue to me?

[2021-09-17 11:45] LucasSD commented on #277
Given we have the workflow pythonpackage.yml using flake8, is this issue now redundant, or do we want to use Black instead of flake8? Or do we want to use both?!

[2021-09-17 11:59] sijanonly commented on #277
@LucasSD , Plan was to use both together. Even black do most of the formatting we still need flake8 for checking some cases; If I am not wrong.

[2021-09-17 12:17] chriswedgwood commented on #277
@sijanonly @LucasSD  could we add a .pre-commit-config.yaml. I use cookicutter-django quite a lot and it has a pretty tidy setup for this:

`exclude: 'docs|node_modules|migrations|.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: ch

[2021-09-17 12:19] sijanonly commented on #277
Yes. Definitely. We can do that. Let me have a look right away.

[2022-01-28 10:32] chriswedgwood opened #346 "UserWarning when running tests"
When running the following

[code]
I get the following error
[code]

Its annoying so will look to suppress it

[2022-01-28 10:38] chriswedgwood opened #347 "Initial setup should contain snippet creation"
When a new dev sets up the environment.
Part of that process should create snippets so when they open the site they can see all the fuctionality

Its a major bore having to manually do this each time you reset the environment

[2022-01-28 10:41] chriswedgwood commented on #347
I think a make file would be useful here ...

[2022-01-28 10:57] chriswedgwood opened #354 "Change Home page to use HTMX to prevent unnecessary full page reloads"
The by author,by tag etc are all great canditates for HTMX and partials
![image](https://user-images.githubusercontent.com/1273523/151535153-29cf830d-20bd-4e48-8ccf-4c2f5f394d67.png)

[2022-02-02 05:35] lordcod99 commented on #347
I am going to work on it

[2022-02-07 10:28] #354 closed

[2022-02-09 18:21] #267 closed

[2022-08-12 14:13] chriswedgwood opened #413 "Site is down"
I'll look into this tonight 💯

Need to set up alerts for this to my email to stay on top of this

[2022-08-12 14:23] carltongibson commented on #413
Thanks @chriswedgwood 🙏

[2022-08-12 18:29] chriswedgwood commented on #413
<img width="993" alt="image" src="https://user-images.githubusercontent.com/1273523/184421354-44fff580-0624-4249-bc4e-e2e13fa3eaae.png">

[2022-08-12 18:30] chriswedgwood commented on #413
Any opinions on what redis solution to use:

<img width="1339" alt="image" src="https://user-images.githubusercontent.com/1273523/184421563-4aea4c39-3256-43f6-b0fe-1abbe0d8a9b0.png">

[2022-08-12 18:47] carltongibson commented on #413
Grrr. Grumble. Right. 🤔

(Some investigating follows...)

[2022-08-13 09:00] carltongibson commented on #413
Hey @chriswedgwood — Redis Enterprise Cloud has a free plan that should be more than sufficient.

Do you want to click that button and see what details are needed and we can coordinate via the ops email to resolve?
Thanks! 🏅

[2022-08-13 11:13] chriswedgwood commented on #413
Great thanks @carltongibson  I'll do that and send an email to ops 👍

[2022-08-14 19:43] chriswedgwood commented on #413
This has been resolved with #414  and adding  Redis Enterprise Cloud as per above. We are using the free version. I will monitor  our usage going forward

[2022-08-14 19:43] #413 closed

[2022-08-15 06:17] carltongibson commented on #413
Great work. Thanks @chriswedgwood

[2022-09-07 20:20] bytearchive opened #417 "LiveRepl and Snippets in other language"
how can I add support and syntax highlights etc for snippets in other languages i.e. `java` or `go`?

can a live repl be integrated for python or js in the snippet that can run the code also and show result?